.topnav {
    background: url("kermitfroggy.jpg");
    overflow: hidden;
    height: 100px;
    width: 700px;
    background-size: stretch;
    background-repeat: no-repeat;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a.active {
    background-color: #808080;
    color: white;
  }
  body {
    background-color: gray;
  }
  h3 {
    text-align:right;
}
.final-outcome {
  margin-right: 400px;
}
