.topnav {
    background: url("kermitfroggy.jpg");
    overflow: hidden;
    height: 100px;
    width: 500px;
    background-size: stretch;
    background-repeat: no-repeat;
  }
  .topnav a {
    float: left;
    color: #lack;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a.active {
    background-color: #808080;
    color: white;
  }
  body {
    background-color: grey;
  }
